.container-card {
    padding: 2% 4% 4% 4%;
    margin: 2em;
    /*background-color: white;*/
    /*justify-content: center;*/
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
    border: rgba(136, 136, 136, 0.5)
}

.container-card h3 {
    /*text-align: center;*/
    margin-bottom: 1em;
    color: #333;
}

.container-card h4 {
    /*text-align: center;*/
    margin-bottom: 1em;
    color: #333;
}

.container-card h5 {
    /*text-align: center;*/
    margin-bottom: 1em;
    color: #333;
}

.main-container-card {
    padding: 2% 0;
    margin: 5% 0 5% 0;
    /*justify-content: center;*/
    border-radius: 1em 1em 1em 1em;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);*/
    border: 2px solid #8D8F94;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.btnBlue {
    background-color: #0062cc;
    color: #ffffff;
}

.error {
    /*border: 1px solid red;*/
    color: red;
}